{
    "providers":  {
                      "volcengine":  {
                                         "baseUrl":  "https://ark.cn-beijing.volces.com/api/coding/v3",
                                         "apiKey":  "\u003cREDACTED_API_KEY\u003e",
                                         "api":  "openai-completions",
                                         "models":  [
                                                        {
                                                            "id":  "kimi-k2.5",
                                                            "name":  "kimi-k2.5",
                                                            "reasoning":  false,
                                                            "input":  [
                                                                          "text"
                                                                      ],
                                                            "cost":  {
                                                                         "input":  0,
                                                                         "output":  0,
                                                                         "cacheRead":  0,
                                                                         "cacheWrite":  0
                                                                     },
                                                            "contextWindow":  200000,
                                                            "maxTokens":  8192
                                                        }
                                                    ]
                                     }
                  }
}
